<ion-content [fullscreen]="true">
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button (click)="ataras()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <div class="backgroud-container">
    <div>
      <ion-img class="slide1-img" src="assets/images/loogo.png"></ion-img>
    </div>
    <div>
        <form [formGroup]= "formRegistro">
          <ion-grid fixed>
            <ion-row>
              <ion-col size="10" offset="1">
                <ion-item>
                  <ion-input type ="text" formControlName="name" placeholder="Ingrese Nombre"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type ="text" formControlName="mail" placeholder="Correo Usuario"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input type ="text" formControlName="nameUser" placeholder="Ingrese Usuario"></ion-input>
                </ion-item>
                <ion-item>
                  <ion-input [type] ="mostrarPassword ? 'text': 'password'" formControlName="password" placeholder="**********" style="text-align:center;"></ion-input>
                  <ion-icon [name] ="passworVista" slot="end" (click)="mPass()" color="primary" class="password-ion-icon"></ion-icon>
                </ion-item>
                </ion-col>
                <ion-col size="8" offset="2">
                  <ion-button (click)="registrarse()" color="primary" shape="round" expand="block" >
                      Registrarse
                  </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
    </div>
  </div>
</ion-content>
