<ion-content class="masters">
  <div class="conten-div">
    <ion-card olor="primary">
      <ion-radio-group [allowEmptySelection]="true" value="turtles">
        <ion-item>
          <ion-label> <ion-icon name="bus-outline"></ion-icon> Transporte + <ion-icon name="bed-outline"></ion-icon> Alojamiento</ion-label>
          <ion-radio slot="end" value="dogs"></ion-radio>
        </ion-item>
    
        <ion-item>
          <ion-label> <ion-icon name="bus-outline"></ion-icon> Transporte + <ion-icon name="bed-outline"></ion-icon> 2 Alojamiento</ion-label>
          <ion-radio slot="end" value="cats"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-card>
  
    <ion-card>
      <ion-item>
        <ion-label>Origen</ion-label>
        <ion-select value="Cali">
          <ion-select-option value="Cali">Cali</ion-select-option>
          <ion-select-option value="Bogotá">Bogotá</ion-select-option>
          <ion-select-option value="Medellín">Medellín</ion-select-option>
          <ion-select-option value="Pereira">Pereira</ion-select-option>  
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Destino</ion-label>
        <ion-select value="juanchaco">
          <ion-select-option value=" juanchaco"> juanchaco</ion-select-option>
          <ion-select-option value="maguipi">maguipi</ion-select-option>
          <ion-select-option value="bocana">bocana</ion-select-option>
          <ion-select-option value="san Cipriano">san Cipriano</ion-select-option>  
          <ion-select-option value="agua clara">agua clara</ion-select-option>  
          <ion-select-option value="San Marcos">San Marcos</ion-select-option>   
        </ion-select>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-grid fixed>
        <ion-row>
          <ion-col size="12">
            <ion-label>fehchas</ion-label>
          </ion-col>
          <ion-col size="6">
            <ion-item (click)="muestraFecha = !muestraFecha">
              <ion-label> {{formaFecha}} </ion-label>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item (click)="muestraFecha1 = !muestraFecha1">
              <ion-label> {{formaFecha1}} </ion-label>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-- [value]="fecha.toISOString()" [value]="fecha.toISOString()" -->
      <ion-datetime *ngIf = 'muestraFecha' [value]="fecha" showDefaultButtons="true" (ionCancel)= 'muestraFecha= false;' (ionChange)="fechaInicio($event)" ></ion-datetime>
      <ion-datetime *ngIf = 'muestraFecha1'[value]="fecha" showDefaultButtons="true" (ionCancel)= 'muestraFecha1= false;' (ionChange)="fechaFin($event)"></ion-datetime>
    </ion-card>
  </div>
</ion-content>
